<ion-header>
 
</ion-header>

<ion-content  class="contenido">
  <div class = "app-info">
    <div class="rectangulo">
    <img src="../../../assets/images/logo.png" class="image"> 
    </div>
   
  <h1 id="titulo" class="titulos">Tri Seguros</h1>


  <div class="botones">
    <div> <button class="btn1">Iniciar Sesión</button> </div>
    <div>   <button class="btn2">Registrame</button> </div>
  <div> <a href="#" class="link">Aviso de privacidad</a> </div>
   
  </div>
  
  </div>

</ion-content>
