<ion-header>

</ion-header>

<ion-content class="contenido">
  <div class="app-info">
    <div class="rectangulo">
      <img src="../../../assets/images/logo.jpg" class="image" width="150" height="150">
    </div>



    <h1 id="titulo" class="titulos">Tri Seguros</h1>


    <div class="botones" *ngIf="bandBotones">
      <div> <button class="btn1" (click)="cambiodeInterfaz()">Iniciar Sesión</button> </div>
      <div> <button class="btn2" routerLink="/register">Registrame</button> </div>
      <div> <a style="color: #00042A;" routerLink="/aviso-privacidad" class="link">Aviso de privacidad</a> </div>
    </div>

    <div class="FormLogin" *ngIf="bandForm">
      <form action="" [formGroup]="horizontalStepperForm">
        <div class="usuario">
          <label for="">Usuario</label>
          <input type="text" formControlName="usuario" class="input2">
        </div>

        <div class="contraseña">
          <label for="">Contraseña</label>
          <div style="display: flex; flex-direction: row; margin-top: 2%;">
            <input type="password" formControlName="contra" placeholder="XXXXXXXXXXXXX">
            <button (click)="enviarDatos()"> <img src="../../../assets/icon/login.png" alt="no image"></button>
          </div>
        </div>
      </form>


      <div style="margin-top: 8%;">
        <button (click)="eliminarCuenta()" id="btn3">Aún no tengo cuenta</button>
      </div>
      <div style="margin-top: 8%;"> <a style="color:#00042A;" href="https://blog.clubmaple.com/avisos-de-privacidad/" class="link">Aviso de privacidad</a> </div>
    </div>

    <div class="login" *ngIf="bandLogin">
      <div class="elementos1">
        <div class="username">Hola, {{name}}</div>
        <a  class="link2" (click)="eliminarCuenta()">no es mi cuenta</a>
      </div>
      <div class="elementos2">
        <form action="">
          <input type="password" class="input" placeholder="************">
          <button class="boton" (click)="enviarDatos()"> <img src="../../../assets/icon/login.png"
              alt="no image"></button>
        </form>
      </div>

      <div class="elementos3">
        <ion-grid>
          <ion-row>
            <ion-col style="margin-left: 20%;">
              <button class="finger" (click)="checkCredential()"><img src="../../../assets/images/Vector.png"
                  alt=""></button>
            </ion-col>
            <ion-col style="margin-right: 20%;">
              <button class="face" (click)="checkCredentialFaceId()"></button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div style="margin-top: 10%;"> <a href="https://blog.clubmaple.com/avisos-de-privacidad/" class="link">Aviso de privacidad</a> </div>
    </div>
  </div>

</ion-content>