<ion-header>

</ion-header>

<ion-content class="contenido">
  <div class="app-info">
    <img src="../../../assets/images/logo-register.png" class="imagen">
    <h3>Tri Seguros</h3>
    <h1>¡Regístrate!</h1>

    <div class="agente">
      <div style="text-align: left;">
        <p><b>Código de Agente</b></p>
      </div>
      <div>
        <form action="">
          <input type="text" placeholder="XXXXXXXXXX">
        </form>
      </div>
    </div>
    <div class="btn-w">
      <button><img src="../../../assets/icon/akar-icons_whatsapp-fill.png"> No tengo código de agente</button>
    </div>
    <div> <button  class="btn-continuar" routerLink="/register-form">Contiunuar</button>  </div>
    <div>
      <a href="">Aviso de privacidad</a>
    </div>
  </div>

</ion-content>
