<ion-header></ion-header>
<ion-content class="contenido" id="contenido">
  <div class="app-info">
    <div class="rectangulo">
      <img src="../../../assets/images/logo.jpg" class="image" width="150" height="150">
    </div>
    <h1 id="titulo" class="titulos">Tri Seguros</h1>
    <div class="FormLogin" *ngIf="bandForm">
      <form action="" [formGroup]="horizontalStepperForm">
        <div class="usuario">
          <label for="">Correo electrónico o número de telefono </label>
          <input type="text" formControlName="usuario" class="input2">
        </div>
        <div class="contraseña">
          <label for="">Contraseña</label>
          <div style="display: flex; flex-direction: row; margin-top: 2%;">
            <input type="password" formControlName="contra" placeholder="XXXXXXXXXXXXX">
            <button (click)="enviarDatos()"> <img src="../../../assets/icon/login.png" alt="no image"></button>
          </div>
          <label *ngIf="bandFail" style="margin-top: 2%; color:rgb(235, 49, 49);">Contraseña o usuario incorrecto</label>
          <div *ngIf="bandFail"><a style="margin-top: 2%;" routerLink="/recovery-password" class="link" >Olvide mi contraseña</a></div>
        </div>
        
      </form>


      <div style="margin-top: 8%;">
        <button (click)="eliminarCuenta()" id="btn3" style="font-size: large;">Aún no tengo cuenta</button>
      </div>
      <div style="margin-top: 8%;"> <a style="color:#00042A;" routerLink="/aviso-privacidad" class="link">Aviso de privacidad</a> </div>
    </div>

    <div class="login" *ngIf="bandLogin">
      <div class="elementos1">
        <div class="username">Hola, {{name}}</div>
        <div style="margin-top: 2%;"><a class="link2"  (click)="eliminarCuenta()">no es mi cuenta</a></div>
        
      </div>
      <div class="elementos2">
        <form [formGroup]="horizontalStepperForm2">
          <input type="password" formControlName="contraLocal" class="input" placeholder="************">
          <button class="boton" (click)="enviarDatosLocal()"> <img src="../../../assets/icon/login.png"
              alt="no image"></button>
        </form>
      </div>
      <div *ngIf="bandFail">
        <label  style="margin-top: 2%; color:rgb(235, 49, 49);">Contraseña o usuario incorrecto</label>
        <div><a style="margin-top: 2%;" routerLink="/recovery-password" class="link" >Olvide mi contraseña</a></div>
      </div>

      <div class="elementos3">
        <ion-grid>
          <ion-row>
            <ion-col style="margin-right: 7%;">
              <button class="finger" (click)="checkCredential()"><img src="../../../assets/images/Vector.png"
                  alt=""></button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div style="margin-top: 10%;"> <a style="color: #00042A;" routerLink="/aviso-privacidad" class="link">Aviso de privacidad</a> </div>
    </div>
  </div>
</ion-content>